body {
	font-family: "Futura";
	font-size: 20px;
	background-color: #d5b597;
}

h1, h2, h3 {
	font-family: "Carton Six";
}

@font-face {
	font-family: "Futura";
  	src: url('fonts/futura.eot'); /* IE9 Compat Modes */
  	src: url('fonts/futura.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/futura.woff') format('woff'), /* Modern Browsers */
       url('fonts/futura.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/futura.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: "Carton Six";
 	src: url('fonts/carton_six.eot'); /* IE9 Compat Modes */
  	src: url('fonts/carton_six.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/carton_six.woff') format('woff'), /* Modern Browsers */
       url('fonts/carton_six.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/carton_six.svg#svgFontName') format('svg'); /* Legacy iOS */
}

#main_logo img {
    width: 100%;
}

#main_billboard {
    
}

#test_flight_form {
    position: absolute;
    left: 12%;
    right: 12%;
    height: 22%;
    width: 50%;
    bottom: 35.5%;
}

#app_store_logo {
    position: absolute;
    left: 37.5%;
    width: 24%;
    bottom: 6.25%;
}

#test_flight_form input {
    width: 60%;
    margin-left: 10%;
}

#main_bg {
	background-image: url("images/light_tan_bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
    margin-top: -15px;
}

#main_slider_section {
	background: url("images/top_bg.png") bottom repeat-x;
    padding-bottom: 215px;
}

#main_slider_bg_img {
    width: 100%;
}

#main_slider {
    position: relative;
}

#vid iframe {
    position: absolute;
    left: 12%;
    right: 12%;
    width: 75%;
    height: 22%;
    bottom: 21%;
}   

#features {
	padding-top: 80px;
	padding-bottom: 80px;
}

#features #rocket_pup {
    left: -20px;
    top: -30px;
    width: 25%;
    height: 30%;
    position: absolute;
}

#features #rocket_pup_shadow {
    left: -10px;
    bottom: -10px;
    width: 25%;
    height: 5%;
    position: absolute;
}

#features #purple_pup {
    position: absolute;
    bottom: -70px;
    right: 10px;
    width: 80px;
    height: 80px;
}

#features #three_prints {
    position: absolute;
    top: -10px;
    right: -30px;
}

#screenshots {
	padding-top: 80px;
	padding-bottom: 80px;
	background-image: url("images/dark_tan_bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: auto;
    position: relative;
    z-index: 500px;
}

#screenshots #two_prints {
    position: absolute;
    top: -30px;
    left: -30px;
}

#screenshots #robot_pups {
    position: absolute;
    bottom: -25px;
    right: -10px;
    width: 22%;
    height: 34%;
    z-index: -500px;
}

#screenshots #sleeping_pup {
    position: absolute;
    bottom: -10px;
    left: -5px;
    width: 18%;
    height: 30%;
}

#social {
	padding-top: 50px;
	padding-bottom: 0px;
}

#social img {
	text-align: center;
	width: 100%;
}

#social .icon {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: inline-block;    
}

#social a img {
    -webkit-transition: all .05s ease-in-out;
}
    
#social a:hover img {
    -webkit-transform: scale(1.5);
}

#social a:active img {
    -webkit-transform: scale(1);
}

#producers {
	padding-top: 30px;
	padding-bottom: 10px;
	background-image: url("images/dark_tan_half_bg.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: auto;
}

#producers p,h3 {
	display: inline-block;
	margin: 10px;
}

.slider_background_tan {
	background-image: url("images/slider_tan_bg.png");
}

.slider_background_brown {
	background-image: url("images/slider_brown_bg.png");
}

.slider_background_tan, .slider_background_brown {
    width: 100%; /*whatever width you want*/
    display: inline-block;
    position: relative;
	background-size: 100% 100%;
}

.slider_background_tan:after, .slider_background_brown:after {
    padding-top: 56.25%; /*16:9 ratio*/
    display: block;
    content: '';
}

.carousel-container {
	position: absolute;
	width: 85%;
    padding-left: 15%;
  	padding-top: 10%;
}

.carousel>.carousel-inner>.item>.circleElement {
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 11%;
    left: 39%;
    width: 400px;
    height: 400px;
    opacity: .5;
}
.carousel-indicators {
    top: 35px;
    background: #404549;
    padding: 30px;
    border-radius: 10px;
}
.carousel-indicators li { cursor: pointer }
.carousel-control {
    width: 60px;
    height: 0;
    font-size: 100px;
    background: transparent;
    border: none;
    padding-top: 30px;
}
.carousel-indicators li {
    background-color: #999;
    background-color: rgba(255,255,255,0.3);
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active { opacity: 1 }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity: 1 }
.carousel-fade .carousel-control 
	{ 
	background: none;
	z-index: 2
	}
@media only screen and (max-width:767px) { 
    h1 { font-size: 30px !important }
    .carousel-caption {
        padding: 15px;
        text-align: center;
    }
    .carousel-caption h4 { font-size: 30px }
    .carousel-caption p {
        margin-top: 10px;
        font-size: 10px;
        margin-bottom: -10px;
    }
    body { padding: 0 !important }
    .carousel { margin-bottom: 0 }
    .hero-unit { padding-bottom: 60px }
    .hero-unit p { font-size: 16px }
}