#header {
    position: relative;
    width: 100%;
    background-color: #F9E6D2;
    text-align: center;
    z-index: 99;
    font-size: 14px;
}
#header > form > div > input {
    width: 200px;
}
#header_close {
    font-size:45px;
    float:left;
    font-weight:700;
    color:#000;
    text-shadow:0 1px 0 #fff;
    opacity: 0.2;
    line-height: 1;
    font-family: monospace;
}
#header_close:hover {
    cursor: pointer;
    text-decoration: none;
    opacity:0.6;
}

body {
	font-family: "Futura";
	font-size: 25px;
	background-color: #d5b597;
    overflow-x:hidden;
    width: 100%;
    max-width: 100%;
}
html, body {
    overflow-x: hidden !important;
    position: relative !important;
}

h1, h2, h3 {
	font-family: "Carton Six";
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

@font-face {
	font-family: "Futura";
  	src: url('fonts/futura.eot'); /* IE9 Compat Modes */
  	src: url('fonts/futura.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/FuturaLight.woff') format('woff'), /* Modern Browsers */
       url('fonts/FuturaLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/futura.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: "Carton Six";
 	src: url('fonts/carton_six.eot'); /* IE9 Compat Modes */
  	src: url('fonts/carton_six.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/carton_six.woff') format('woff'), /* Modern Browsers */
       url('fonts/carton_six.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/carton_six.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.brown_text {
    color: #452308; 
}

#main_logo img {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#test_flight_form {
    position: absolute;
    left: 12%;
    right: 12%;
    height: 22%;
    width: 50%;
    bottom: 37%;
}

#test_flight_form input {
    position: absolute;
    top: 5.5%;
    width: 90%;
    height: 16%;
    right: -28%;
    font-size:75%;
}

#testflight_logo {
    position: absolute;
    top: 6%;
    left: 25%;
    height: 16%;
    width: 11%;
}

#main_bg {
    background-color: #f9e6d2;
    background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
    margin-top: -15px;
}

#main_slider_bg_img {
    width: 100%;
}

#main_slider {
    position: relative;
}
#screenshots {
    background-position: center;
    background-color: #d5b597;
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: auto;
    position: relative;
    z-index: 500px;
}

.screenshots_description_background, .features_description_background {
    width: 100%; /*whatever width you want*/
    display: inline-block;
    position: relative;
}


#screenshots_description {
    position: absolute;
    width: 100%;
    top: 10%;
    right: 0;
    text-align:center;
}

#features_description {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0;
}

#social img {
	text-align: center;
	width: 100%;
}

#social #promo_img {
    width: 100%;
    padding-top: 35px;
}

#social .icon {
    width: 80px;
    height: 80px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    display: inline-block;    
}

#social a img {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}
    
#social a:hover img {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
}

#social a:active img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

#producers {
	padding-bottom: 10px;
    background-position: center;
    background-color: #d5b597;
	background-size: 1920px 100%;
	background-repeat: no-repeat;
	height: auto;
}

#producers p,h3 {
	display: inline-block;
	margin: 10px;
}

.slider_background_tan {
	background-image: url("images/slider_brown_bg.png");
}

.slider_background_brown {
	background-image: url("images/slider_tan_bg.png");
}

.slider_background_tan, .slider_background_brown {
    width: 100%; /*whatever width you want*/
    display: inline-block;
    position: relative;
	background-size: 100% 100%;
}

.slider_background_tan:after, .slider_background_brown:after {
    padding-top: 54.97%; /*16:9 ratio*/
    display: block;
    content: '';
}

/* Not active */
.carousel-indicators li {
    background: url(images/btn-off.png);
    width: 23px;
    height: 23px;
    cursor: pointer;
    border: none;
    margin: 0;
    background-size: cover;
}
/* Active */
.carousel-indicators .active {
    background: url(images/btn-on.png);
    cursor: pointer;
    width: 23px;
    height: 23px;
    border: none;
    margin: 0;
    background-size: cover;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active { opacity: 1 }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity: 1 }
.carousel-fade .carousel-control 
{ 
background: none;
z-index: 2
} 
    
#main_bg {
	background-size: auto 100%;
	background-repeat: no-repeat;
    background-position: center;
    margin-top: -15px;
}
    
#producers {
	padding-bottom: 10px;
	background-size: auto 100%;
	background-repeat: no-repeat;
    background-position: center;
	height: auto;
}

body {
	font-family: "Futura";
	font-size: 20px;
	background-color: #d5b597;
}

h1, h2, h3 {
	font-family: "Carton Six";
    font-size: 51px;
}

h3 {
    font-size: 25px;
}
.screenshots_description_background {
    padding-bottom: 50px;
}

.features_description_background {
    padding-bottom: 50px;
}

#social > h3 {
    margin-bottom: 35px;
}

}