#soc {
    text-align: center;
    width: 470px;
    margin: auto;
    margin-top: 15px;
}

#social_icon_container {
	padding-bottom: 9px;
}

@media (max-width: 470px) {
    #soc {
        width: 95%!important;
    }
}

#beta_test {
	font-family: "Carton Six";
	padding-left: 15px;
	padding-right: 15px;
}

form > div {
	margin-top: 10px;
}

form {
	margin-bottom: 25px;
}