#soc {
    text-align: center;
    width: 470px;
    margin: auto;
    margin-top: 15px;
}

#social_icon_container {
	padding-bottom: 9px;
}

@media (max-width: 470px) {
    #soc {
        width: 95%!important;
    }
}
