#main_logo {
    width:80%;
    position: absolute;
    left:0;
    right:0;
    margin: auto;
}

#logo_sign {
    position: relative;
    bottom: -320px;
    z-index: 1;
    width:550px;
    margin:auto;
    margin-top:300px;
}
@media only screen and (max-width: 550px) {
    #logo_sign {
        width: 100%!important;
    }
    #vid {
        width:95%!important;
    }
    #vid iframe {
        width: 95%!important;
    }
}


#vid {
    width: 500px;
    position:absolute;
    top: 150px;
    left:0;
    right:0;
    margin:auto;
}

#vid iframe {
    width: 500px;
    height: 225px;
    background-color: #444444;
    border:3px solid rgba(1,1,1,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}


#main_slider_section {
    background: url("minimages/sky_bg.png");
    padding-bottom: 0px;
    background-size: contain;
    margin-top: -320px;
    overflow: hidden;
}
#main_slider_fg {
    position:relative;
    background: url("minimages/fg_repeat.png") bottom repeat-x;
    height:306px;
    width:100%;
    bottom:0px;
}
#main_slider_bg {
    position: relative;
    background: url("minimages/bg_repeat.png") bottom repeat-x;
    height:224px;
    width:100%;
    bottom:-50px;
}
#sign_top {
    position: absolute;
    display:block;
    width:220px;
    margin:auto;
    left:0;
    right:0;
    top: 30px;
    z-index: -1;
}
#sign_top > img {
    z-index: -1;
    width:220px;
    height: 100px;
}
#sign_top > a {
    position: relative;
    bottom: 85px;
    margin: 10px;
}

#submit_form {
    position: absolute;
    top: 300px;
    width:60%;
    margin:auto;
    left:0;
    right:0;
}
#submit_form > img {
    position: absolute;
    width:100%;
    height:80px;
}
#submit_form > input {
    opacity: 0.8;
    width: 75%;
    z-index: 5;
    position: absolute;
    top: 29px;
    left: 15px;
    font-size:16pt;
}
#submit_form > span {
    position: absolute;
    z-index: 6;
    font-size: 12pt;
    top:10px;
    left:15px;
}
#submit_form > button {
    z-index: 7;
    position: absolute;
    height:45px;
    right:10px;
    top: 17.5px;
}